/* Write your CSS here */
.vaccination-container {
  background-color: #1c1c2b;
  background-size: cover;
  height: 100vh;
  padding: 20px;
  margin-bottom: 25px;
}
.vaccination-heading {
  color: #94a3b8;
  font-family: 'Roboto';
}
